@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
}

.card {
    border: 2px solid black;
    padding: 30px;
    margin-bottom: 30px;
    width: 500px;
}

.card h2 {
    border-bottom: 2px solid black;
    text-transform: capitalize;
    padding-bottom: 15px;
}

.card p {
    padding: 20px 0 20px 0;
}

button {
    border: 2px solid black;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
}
